BasedOnStyle: Google
Standard: Latest
ColumnLimit: 120
IndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Right
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
AllowShortFunctionsOnASingleLine: InlineOnly
